.border {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;

    padding: 0.9vh;

    background: #8146AE;
    border-radius: 1.5vw;
}

.whitespace-parent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.whitespace {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1vh;
    background: white;
    border-radius: 1vw;
}