.top-nav {
    background-color: #8146AE;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    
    position: fixed;
    top: 0;
    z-index: 10;
}

.top-nav-item {
    color: white;
    margin-left: 11rem;
    font-size: 2rem;
}